.element__icon {
  width: 22px;
  padding-left: 22px;
  padding-right: 20px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.element__icon:hover {
  opacity: 0.8;
}


.element__icon:active {
  background-image: url(../../../images/heart_active.svg);
}
