/* vendor, fonts */
@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
/* root */
@import url(../blocks/root/root.css);
/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/* main */
@import url(../blocks/main/main.css);
@import url(../blocks/error/error.css);
/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_opened/popup_opened-img.css);
@import url(../blocks/popup/__window/popup__window.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__save-button/_inactive/popup__save-button_inactive.css);
@import url(../blocks/popup/__input/popup__input.css);
/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__edit-icon/profile__edit-icon.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__add-icon/profile__add-icon.css);
/* gallery */
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__list/gallery__list.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__img-container/card__img-container.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__footer/card__footer.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__delete/card__delete.css);
/* popup__screen */
@import url(../blocks/popup/__screen/popup__screen.css);
@import url(../blocks/popup/__screen/popup__screen-image.css);
@import url(../blocks/popup/__screen/popup__screen-caption.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

